<div class="header">
  <div class="tw-text-24-px tw-font-600">Open Books Library</div>
  <div class="search-button">
    <input
      [formControl]="bookSearch"
      (keyup.enter)="search()"
      name="searchKey"
      type="text"
      placeholder="Search Books"
      class="tw-border-0 tw-bg-inherit tw-w-8/12"
    />
    <div class="clear tw-w-1/12 tw-mx-2">
      <mat-icon
        class="tw-mt-[18px] tw-cursor-pointer tw-text-[20px]"
        *ngIf="currentQuery"
        (click)="clearCurrentQuery()"
        aria-label="Clear Icon"
        >clear</mat-icon
      >
    </div>
    <mat-icon
      class="tw-mt-16-px tw-cursor-pointer tw-mr-2 tw-text-[30px]"
      (click)="search()"
      aria-label="Search Icon"
      >search</mat-icon
    >
  </div>
</div>
<div class="tw-flex tw-flex-row tw-m-24-px">
  <section class="trending-subjects">
    <div class="tw-font-600 tw-text-24-px">Trending Subjects</div>
    <ul class="tw-list-none tw-pl-0">
      <li
        class="tw-text-16-px tw-cursor-pointer tw-p-12-px"
        *ngFor="let subject of trendingSubjects"
        routerLink="/trending-subject/{{ subject.name }}"
      >
        {{ subject.name }}
      </li>
    </ul>
  </section>
  <section class="search-results">
    <div *ngIf="searchResults.length > 0 && !isLoading && !errorMessage">
      <front-end-internship-assignment-table-view
        [searchResults]="searchResults"
        [searchQuery]="query"
        [currentPage]="currentPage"
        [totalPages]="totalPages"
      ></front-end-internship-assignment-table-view>
    </div>
    <h3 *ngIf="errorMessage" class="error">
      {{ errorMessage }}
    </h3>
  </section>
</div>
<div *ngIf="isLoading" class="loader">
  <div class="loader-circle"></div>
</div>
